<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Medmenrva{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  	<link rel="stylesheet" href="/static/main.css">
  </head>


  <body>
  <div class="container">
  	<nav class="navbar navbar-inverse">
  		<div class="container-fluid">
  			<div class="navbar-header">
  				<a class="navbar-brand" href="/">Home</a>
  			</div>
  			<ul class="nav navbar-nav">
        		<li><a href="/medicines">My Meds</a>
        		{% if user and member %}
        		<li class="dropdown">
        			<a class="dropdown-toggle" data-toggle="dropdown" href="#">My Profile
        			<span class="caret"></span></a>
        			<ul class="dropdown-menu">
        				<li><a href="/members/{{member.key.urlsafe()}}/edit/">Edit Profile</a></li>
        			</ul>
        		{% endif %}
  			</ul>
  			<ul class="nav navbar-nav navbar-right" style="margin-top: 11px;margin-right: 5px;">
  				{% if user and member %}
 					<div class="pull-right">
            			<p style="color:#337ab7; display:inline;">Hello! {{member.firstname}}</p> / <a href="{{logout_link}}">logout</a>	
            		</div>
          		{% else %}
            		<a href="{{login_link}}">login</a> / <a href="/signup">signup</a>
           		{% endif %}
  			</ul>
  		</div>
  	</nav> 
    <main>
    	{% block content %}
      	{% endblock %}
    </main>
</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
