
{% extends 'base.html' %}

{% block content %}
<div class='container'>
	<div>
		<h2>Add new Medicine</h2>
	</div>
	<br/>
	<div class="row">
		<div class="col-md-8">
			<form method="post">
				<div class="form-group">
			    	<label for="medname">Medicine Name:</label>
			    	<input type="text" class="form-control" name="medname" value="{{medname}}" placeholder="Enter medicine name" required/>
			    	<p style="color: red;">{{error_name}}</p>
			  	</div>
			  	<br/>
			  	<div class="form-group">
			    	<label for="directions">Directions(optional):</label>
			    	<input type="text" class="form-control" name="directions" value="{{directions}}" placeholder="Enter directions" />
			  	</div>
			  	<br/>
			  	<div class="form-group">
			    	<label for="quantity">Total Current Quantity:</label>
			    	<input style="height:30px;" min="0" type="number" name="quantity" value="{{quantity}}" placeholder="Enter quantity" required />
			  	</div>
			  	<br/>
			  	<div class="form-group ">
			    	<label for="lastdosagetime">When will you take your next dosage?:</label>
			    	<div>
				    
				    	<input type="text" name="lastdosagedate" value="{{lastdosagedate}}" placeholder="YYYY-MM-DD" required />
				    	<input type="text" name="lastdosagetime" value="{{lastdosagetime}}" placeholder="HH:MM" required />
				  		 <select name="ampm">
	  						<option value="AM">AM</option>
	  						<option value="PM">PM</option>
						</select> 
						<select name="timezone" required>
							<option value="" default>Timezone</option>
	  						<option value="US/Pacific">PT</option>
	  						<option value="US/Mountain">MT</option>
	  						<option value="US/Central">CT</option>
	  						<option value="US/Eastern">ET</option>
	  						<option value="UTC">GMT</option>
						</select>
					</div> 		
			  	</div>
			  	<br/>
			  	<div class="form-group">
			    	<p>Take <input style="height:30px;" min="0" type="number" name="dosage" value="{{dosage}}" placeholder="Enter dosage" required /> pills every <input style="height:30px;" min="0" type="number" name="interval" value="{{interval}}" placeholder="Enter interval" required /> hours.</p>
			  	</div>
			  	<br />
			  	<button type="submit" class="btn btn-success" />Submit</button>
			</form> 
		</div>
	</div>
</div>
{% endblock %}