{% extends 'base.html' %}

{% block content %}
<div class="container">
	<div>
		<h2>Sign Up</h2>
	</div>
	<form method="post">
		<div class="form-group">
	    	<label for="firstname">First Name:</label>
	    	<input type="text" class="form-control" name="firstname" value="{{firstname}}" placeholder="Enter first name" required/>
	  		<p class="error">{{error_firstname}}</p>
	  	</div>
	  	<br/>
	  	<div class="form-group">
	    	<label for="lastname">Last Name:</label>
	    	<input type="text" class="form-control" name="lastname" value="{{lastname}}" placeholder="Enter last name" required/>
	  		<p class="error">{{error_lastname}}</p>
	  	</div>
	  	<br />
	  	<div class="form-group">
	    	<label for="phonenumber">Phone Number <em>(10 digits, no special characters or spaces)</em>:</label>
	    	<input type="tel" class="form-control" maxlength="10" name="phonenumber" value="{{phonenumber}}" placeholder="5556667777" required/>
	  		<p class="error">{{error_phonenumber}}</p>
	  	</div>
	  	<br />
	  	<button type="submit" class="btn btn-success" />Sign-Up</button>
	</form> 
</div>
{% endblock %}




